{% load static %}
{% load menu_extras %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Kebab TV — {{ screen.name }} — {{ screen.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  <h1> <img src="{% static 'images/logo.png' %}"> </h1>
  <h2>{{ screen.title }}</h2>

  <div class="content">
      {% for column, categories in columns.items %}
      {% if categories|length == 1 %}
      {% for category in categories %}
      <div class="category">
          <h3>{{ category.name }}</h3>
          <dl class="">
              {% for product in category.products.actives %}
                <dt>{{ product.name }}</dt>
                <dd>{{ product.priceEuroCents|euros }}</dd>
              {% endfor %}
          </dl>
          {% if category.illustration %}
          <img src='{{ category.illustration.url }}'>
          {% endif %}
      </div>
      {% endfor %}
      {% else %}
      <div class="column">
          {% for category in categories %}
          <div class="category">
              <h3>{{ category.name }}</h3>
              <dl class="">
                  {% for product in category.products.actives %}
                    <dt>{{ product.name }}</dt>
                    <dd>{{ product.priceEuroCents|euros }}</dd>
                  {% endfor %}
              </dl>
          </div>
          {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</body>
</html>
